<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>班级说说 - 注册</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style>
        #wrongTip{
            display: none;
        }
    </style>
</head>

<body>

    <%include header.ejs %>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6">
                <h4>欢迎注册</h4>
                <form>
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" placeholder="用户名可以为中文">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" placeholder="密码不能少于6位">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 同意班级说说注册协议
                        </label>
                    </div>
                    <button type="button" id="regist-btn" class="btn btn-default">注册</button>
                </form>
            </div>
        </div>

        <hr>
        <div id="wrongTip" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> 用户名重复!!!
        </div>
        <footer>
            <p>&copy; 2018 Company, Inc.</p>
        </footer>
    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $('input').focus(function() {
            $('#wrongTip').fadeOut();
        })
        $('#regist-btn').click(function() {
           $.post('/doregist', {
               'username': $('#username').val(),
               'password': $('#password').val()
           }, function(data) {
               if (data === '-1') {
                   $('#wrongTip').fadeIn();
               } else if (data === '-3') {

               } else if (data === '1') {
                   alert('注册成功');
                   window.location = '/';
               }
           })
        })
    </script>
</body>

</html>